/* Estilos Gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2 {
    text-align: center;
    color: #2c3e50;
}

form, table {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

label {
    font-size: 1rem;
    color: #34495e;
    display: block;
    margin-bottom: 8px;
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    font-size: 1rem;
}

button:hover {
    background-color: #2980b9;
}

/* Estilos da Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3498db;
    color: white;
}

td {
    font-size: 0.9rem;
}

td button {
    background-color: #e74c3c;
    padding: 5px 10px;
    margin-left: 5px;
}

td button:hover {
    background-color: #c0392b;
}

a {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: #2ecc71;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin: 10px auto;
    font-size: 1rem;
}

a:hover {
    background-color: #27ae60;
}

/* Estilo para a Página de Consulta de Vagas Disponíveis */
#vagasDisponiveis {
    font-size: 1.5rem;
    color: #2c3e50;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;
    text-align: center;
}
